{% extends 'base.html.twig' %}

{% block title %}{{ lesson.name ~ ' / ' ~ lesson.course.name ~ ' / StudyOn' }}{% endblock %}

{% block body %}

    <h1>{{ lesson.name }}</h1>
    <div class="glass-bg p-4">
    <p>{{ lesson.content }}</p>

    <div class="d-flex">
        <a class="btn btn-outline-primary mb-2 me-2" role="button" href="{{ path('app_lesson_edit', {'id': lesson.id}) }}">Изменить курс</a>
        {{ include('lesson/_delete_form.html.twig') }}
    </div>

    <a href="{{ path('app_course_show', {'id': lesson.course.id}) }}">Вернуться к курсу</a>

    </div>
<style>
.glass-bg{
    /* From https://css.glass */
background: rgba(255, 255, 255, 0.6);
border-radius: 16px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(11.2px);
-webkit-backdrop-filter: blur(11.2px);
border: 1px solid rgba(255, 255, 255, 0.16);
}
</style>

{% endblock %}
